/* 
body {
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100%;
}
.container {
  display: grid;
  padding-top: 10px;
  max-width: 700px;
}
.title {
  margin: 40px;
  font-size: 300%;
}
.form {
  display: grid;
}
 */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-style: italic;
  height: 100vh;
  width: 100%;

  background: #ed4264; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffedbc,
    #ed4264
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffedbc,
    #ed4264
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title {
  text-align: center;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-size: 60px;
  font-family: "Moon Dance", cursive;
  color: black;
  font-weight: bold;
}
/* .parent {
  margin-left: 200px;
  margin-right: 200px;
} */
.form {
  display: flex;
  justify-content: center;
}
.card-list {
  display: grid;
  grid-template-columns: auto auto;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
}
.card {
  margin: 30px 30px;
  box-shadow: 1px 1px 5px black;
  padding: 20px 10px;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pic {
  margin: auto auto;
  display: block;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}
.content {
  display: block;
  text-align: center;
}
.fo {
  /* font-size: 20px; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.overview {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: start;
}
.SearchInput {
  padding: 10px;
  width: 600px;
  border-radius: 5px;
  font-size: 20px;
  font-style: italic;
  box-shadow: 1px 1px 5px black;
}
.container {
  margin-top: 60px;
}
.button {
  background-color: black;
  color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
  width: 120px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 1px 1px 5px black;
}
button:hover {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  cursor: pointer;
}
